h1 {
  font-size: 64px;
  line-height: 75px;
  font-weight: 800;
  color: #1c1c1c;
  margin: 0;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #1c1c1c;
  margin: 0;
}

h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  color: #1c1c1c;
  margin: 0;
}

h4 {
  font-size: 50px;
  font-weight: 700;
  line-height: 72px;
  color: #1c1c1c;
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #8b8b8b;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #f4f4f4 radial-gradient(circle, transparent 1%, #f4f4f4 1%) center/15000%;
}

.ripple:active {
  background-color: #f4f4f4;
  background-size: 100%;
  transition: background 0s;
}

.container {
  flex-wrap: nowrap !important;
}

/* Navbar Styling */
.navbar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
}
.navbar .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 15px;
  gap: 10px;
}
.navbar .navbar-container .logo {
  display: flex;
  align-items: center;
}
.navbar .navbar-container .logo img {
  max-width: 180px;
  height: auto;
  width: 100%;
}
.navbar .navbar-container .nav-links {
  display: flex;
  list-style: none;
  gap: 56px;
  padding: 0;
  margin: 0;
}
.navbar .navbar-container .nav-links li a {
  text-decoration: none;
  color: #030303;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Lexend", sans-serif !important;
  transition: color 0.3s ease;
}
.navbar .navbar-container .nav-links li a:hover {
  color: #e93740;
}
.navbar .navbar-container .nav-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .navbar-container .nav-buttons .signin-btn {
  color: #e93740;
  font-size: 1rem;
  line-height: 14px;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  border: none;
  border-radius: 45px;
  background-color: #ffffff;
  font-weight: 500;
  gap: 8px;
  transition: all 0.3s ease;
}
.navbar .navbar-container .nav-buttons .signin-btn:hover {
  color: #ffffff;
  background-color: #e93740;
}
.navbar .navbar-container .nav-buttons .signin-btn:hover .icon1 {
  filter: brightness(0) saturate(100%) invert(100%);
}
.navbar .navbar-container .nav-buttons .post-btn {
  color: #ffffff;
  background-color: #e93740;
  line-height: 14px;
  padding: 15px 30px;
  border-radius: 45px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  gap: 8px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}
.navbar .navbar-container .nav-buttons .post-btn:hover {
  background-color: #ffffff;
  color: #e93740;
}
.navbar .navbar-container .nav-buttons .post-btn:hover .icon2 {
  filter: brightness(0) saturate(100%) invert(29%) sepia(87%) saturate(633%) hue-rotate(340deg) brightness(95%) contrast(90%);
}
.navbar .navbar-container .hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 12px;
}
.navbar .navbar-container .hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s;
}
.navbar .navbar-container .post-btn2 {
  color: #ffffff;
  display: none;
  background-color: #e93740;
  line-height: 14px;
  padding: 15px 30px;
  border-radius: 45px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  gap: 8px;
  transition: all 0.3s ease;
}
.navbar .navbar-container .post-btn2:hover {
  background-color: #ffffff;
  color: #e93740;
}
.navbar .mobile-menu {
  display: none;
  background-color: #ffffff;
  top: 100%;
  width: 100%;
  left: 0;
  padding: 1rem;
  border-top: 1px solid #ffffff;
  z-index: 1000;
}
.navbar .mobile-menu ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.navbar .mobile-menu ul li {
  margin-bottom: 1rem;
}
.navbar .mobile-menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  display: block;
  padding: 10px;
}
.navbar .mobile-menu ul .signin-btn {
  color: #e93740;
  font-size: 1rem;
  line-height: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 30px;
  border: none;
  border-radius: 45px;
  background-color: #ffffff;
  font-weight: 500;
  gap: 8px;
  transition: all 0.3s ease;
  margin-top: 1rem;
  width: 100%;
}
.navbar .mobile-menu ul .signin-btn:hover {
  color: #ffffff;
  background-color: #e93740;
}
.navbar .mobile-menu ul .signin-btn:hover .icon1 {
  filter: brightness(0) saturate(100%) invert(100%);
}
.navbar .mobile-menu.active {
  display: block;
  z-index: 6;
}
@media (max-width: 1400px) {
  .navbar .navbar-container {
    padding: 21px 30px;
  }
  .navbar .navbar-container .nav-links {
    gap: 40px;
  }
  .navbar .navbar-container .nav-links li a {
    font-size: 15px;
  }
  .navbar .navbar-container .signin-btn,
  .navbar .navbar-container .post-btn {
    padding: 12px 25px;
    font-size: 0.95rem;
  }
  .navbar .navbar-container .logo img {
    max-width: 160px;
  }
}
@media (max-width: 1200px) {
  .navbar .navbar-container .nav-links {
    gap: 30px;
  }
  .navbar .navbar-container .nav-links li a {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .navbar .navbar-container {
    padding: 15px;
  }
  .navbar .navbar-container .nav-links,
  .navbar .navbar-container .nav-buttons {
    display: none;
  }
  .navbar .navbar-container .hamburger {
    display: flex;
  }
  .navbar .navbar-container .post-btn2 {
    display: flex;
    align-items: center;
  }
  .navbar .navbar-container .logo img {
    max-width: 120px;
  }
}
@media (max-width: 576px) {
  .navbar .navbar-container {
    padding: 10px;
  }
  .navbar .navbar-container .logo img {
    max-width: 100px;
  }
}

.hero-section {
  background-image: url("../assets/png/13c8c4f18dc9d087079c27566700695b (1).jpeg");
  height: 855px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 888px;
}
.hero-section-info h1 {
  margin-bottom: 32px;
}
.hero-section-info h1 span {
  color: #e93740;
}
.hero-section-info h3 {
  margin-bottom: 48px;
}
.hero-section-info .hero-button-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
  justify-content: center;
}
.hero-section-info .hero-button-wrap .hero-button {
  background-color: #ffffff;
  color: #e93740;
  border: none;
  padding: 10px 24px;
  border-radius: 120px;
}
.hero-section-info .hero-button-wrap .hero-button:hover {
  color: #ffffff;
  background-color: #e93740;
}
.hero-section-info .search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 80px;
  width: 100%;
  max-width: 796px;
  margin: 0 auto;
}
.hero-section-info .search-bar .search-input {
  flex: 1;
  display: flex;
  padding: 26px 32px;
}
.hero-section-info .search-bar .search-input input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 19.2px;
  color: #979797;
  padding: 10px;
  width: 100%;
}
.hero-section-info .search-bar .location-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 32.3px 30px;
  gap: 8px;
  font-size: 16px;
  flex: 1;
}
.hero-section-info .search-bar .location-dropdown .dropdown-icon-drop {
  margin-left: auto;
}
.hero-section-info .search-bar .location-dropdown .home-search-icon-btn {
  margin-left: auto;
  border: none;
  background-color: #e93740;
  border-radius: 57px;
  padding: 15px;
  color: white;
}
.hero-section-info .search-bar .home-hline {
  border: 1px solid #e6e6e6;
  height: 120px;
}
.hero-section-info .search-bar .home-search-icon-btn-big {
  display: none;
}
@media (max-width: 991px) {
  .hero-section-info {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .hero-section-info .search-bar {
    flex-direction: column;
    padding: 16px;
    border-radius: 20px;
    max-width: 450px;
  }
  .hero-section-info .search-bar .search-input {
    width: 100%;
    padding: 0;
  }
  .hero-section-info .search-bar .location-dropdown {
    width: 100%;
    justify-content: space-between;
    padding: 0px 0px;
  }
  .hero-section-info .search-bar .home-hline {
    border-width: 1px 0 0 0;
    height: auto;
    width: 100%;
    margin: 16px 0;
  }
  .hero-section-info .search-bar .home-search-icon-btn {
    display: none;
  }
}
@media (max-width: 576px) {
  .hero-section {
    height: 650px;
    background-size: cover;
    background-position: center center;
  }
  .hero-section-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 331px;
  }
  .hero-section-info h1 {
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
  }
  .hero-section-info h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    max-width: 253px;
  }
  .hero-section-info .search-bar {
    background-color: transparent;
  }
  .hero-section-info .search-bar .home-hline {
    display: none;
  }
  .hero-section-info .search-bar .search-input {
    background-color: #ffffff;
    margin-bottom: 12px;
    padding: 20px 32px;
    border-radius: 66px;
    gap: 12px;
  }
  .hero-section-info .search-bar .search-input input {
    padding: 0;
  }
  .hero-section-info .search-bar .location-dropdown {
    background-color: #ffffff;
    margin-bottom: 12px;
    padding: 20px 32px;
    border-radius: 66px;
    gap: 12px;
    justify-content: flex-start;
  }
  .hero-section-info .search-bar .home-search-icon-btn-big {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 66px;
    border: none;
    background-color: #e93740;
    color: #ffffff;
    padding: 20px 0px;
    gap: 8px;
  }
  .hero-section-info .search-bar .home-search-icon-btn-big:hover {
    background-color: #ffffff;
    color: #e93740;
  }
  .hero-section-info .search-bar .home-search-icon-btn-big:hover .icon2 {
    filter: brightness(0) saturate(100%) invert(29%) sepia(87%) saturate(633%) hue-rotate(340deg) brightness(95%) contrast(90%);
  }
}

.category-section .category-section-info {
  margin: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.category-section .category-section-info .category-section-head {
  margin-bottom: 24px !important;
}
.category-section .category-section-info .category-section-button-holder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 64px;
  gap: 12px;
  flex-wrap: wrap;
}
.category-section .category-section-info .category-section-button-holder .category-button {
  display: flex;
  border: 1px solid #e8e8e8;
  gap: 20px;
  border-radius: 55px;
  padding: 7px 39px 6px 7px;
}
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder1,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder2,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder3,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder4,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder5 {
  border-radius: 55px;
  height: 59px;
  width: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder1.category-icon-holder1,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder2.category-icon-holder1,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder3.category-icon-holder1,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder4.category-icon-holder1,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder5.category-icon-holder1 {
  background-color: #fdebec;
}
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder1.category-icon-holder2,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder2.category-icon-holder2,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder3.category-icon-holder2,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder4.category-icon-holder2,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder5.category-icon-holder2 {
  background-color: #f1f8ed;
}
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder1.category-icon-holder3,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder2.category-icon-holder3,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder3.category-icon-holder3,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder4.category-icon-holder3,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder5.category-icon-holder3 {
  background-color: #f6edf4;
}
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder1.category-icon-holder4,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder2.category-icon-holder4,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder3.category-icon-holder4,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder4.category-icon-holder4,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder5.category-icon-holder4 {
  background-color: #eaf2f9;
}
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder1.category-icon-holder5,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder2.category-icon-holder5,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder3.category-icon-holder5,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder4.category-icon-holder5,
.category-section .category-section-info .category-section-button-holder .category-button .category-icon-holder5.category-icon-holder5 {
  background-color: #fef3eb;
}
.category-section .category-section-info .category-section-button-holder .category-button .category-iconame-holder {
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .category-section .category-section-info .category-section-button-holder {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .category-section .category-section-info {
    margin: 56px 0px;
  }
  .category-section .category-section-info .category-section-head {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }
  .category-section .category-section-info .category-section-button-holder {
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
  }
  .category-section .category-section-info .category-section-button-holder .category-button {
    width: 100%;
  }
  .category-section .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 24px 0px;
    flex-wrap: wrap;
    gap: 13px !important;
  }
}

.featured-section-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.category-section-head {
  margin-bottom: 24px !important;
}

@media (max-width: 575px) {
  .category-section-head {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }
}
.featured-semisection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 56px 0px;
  gap: 39px;
  flex-wrap: wrap;
}

.slider-item {
  background-color: #E8E8E8;
  color: #1c1c1c;
  border-radius: 80px;
  cursor: pointer;
  padding: 12px 24px;
  transition: transform 0.3s ease;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.slider-item:hover {
  transform: translateY(-2px);
  background-color: #e93740;
  color: #ffffff;
}

.slider-item.active {
  background-color: #e93740;
  color: #ffffff;
}

.slider-controls {
  display: flex;
  justify-content: center;
}

.slider-controls button {
  background-color: #E8E8E8;
  color: #1c1c1c;
  border-radius: 80px;
  cursor: pointer;
  padding: 12px 24px;
  transition: transform 0.3s ease;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: none;
}

.slider-controls button:hover {
  color: #e60023;
}

.property-card {
  max-width: 519px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
}

.property-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: 325px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tag {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #77b747;
  color: #ffffff;
  padding: 6px 26px;
  font-size: 14px;
  border-radius: 40px;
  font-weight: 500;
  line-height: 24px;
}

.card-content {
  padding: 0px;
}

.price {
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  color: #e93740;
}

.price span {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #1c1c1c;
}

.title {
  margin: 8px 0px 24px 0px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #333;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 14px !important;
  color: #7f8c8d;
  margin: 0px 0px 24px 0px;
}

.details-vline {
  border-right: 1px solid #1c1c1c;
  border-left: 1px solid #1c1c1c;
  text-align: center;
}

.details-vline-left {
  text-align: left;
}

.details-vline-right {
  text-align: right;
}

.details span {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1c1c1c;
  width: 33%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-top: 1px solid #1c1c1c;
}

.seller-info {
  display: flex;
  align-items: center;
}

.seller-info img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 16px;
}

.seller-name {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #1c1c1c;
}

.role {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #676767;
}

.favorite {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: #f4f4f4;
}

.feat-button-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.feat-button {
  background-color: #e93740;
  color: #ffffff;
  border: none;
  border-radius: 45px;
  padding: 17px 30px;
  margin-bottom: 100px;
}

.feat-button:hover {
  background-color: #ffffff;
  color: #e93740;
}

@media (max-width: 1200px) {
  .slider-item {
    font-size: 14px;
  }
  .slider-controls button {
    font-size: 14px;
  }
  .property-card .price {
    font-size: 18px;
  }
  .property-card .title {
    font-size: 20px;
  }
  .property-card .details span {
    font-size: 14px;
  }
  .footer .seller-name {
    font-size: 18px;
  }
  .footer .role {
    font-size: 12px;
  }
  .feat-button {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .slider-item {
    font-size: 13px;
  }
  .slider-controls button {
    font-size: 13px;
  }
  .property-card .price {
    font-size: 16px;
  }
  .property-card .title {
    font-size: 18px;
  }
  .property-card .details span {
    font-size: 12px;
  }
  .footer .seller-name {
    font-size: 16px;
  }
  .footer .role {
    font-size: 12px;
  }
  .feat-button {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .slider-item {
    font-size: 12px;
  }
  .slider-controls button {
    font-size: 12px;
  }
  .property-card .price {
    font-size: 14px;
  }
  .property-card .title {
    font-size: 20px;
  }
  .property-card .details span {
    font-size: 12px;
  }
  .footer .seller-name {
    font-size: 14px;
  }
  .footer .role {
    font-size: 12px;
  }
  .feat-button {
    font-size: 10px;
  }
  .feat-button {
    margin-bottom: 56px;
  }
}
@media (max-width: 768px) {
  .featured-section .row .col-xl-4,
  .featured-section .row .col-lg-6,
  .featured-section .row .col-md-6,
  .featured-section .row .col-sm-12 {
    display: none;
  }
  .featured-section .row .col-xl-4:nth-child(-n+3),
  .featured-section .row .col-lg-6:nth-child(-n+3),
  .featured-section .row .col-md-6:nth-child(-n+3),
  .featured-section .row .col-sm-12:nth-child(-n+3) {
    display: block;
  }
}
.perfomance-section-mainwrap .perfomance-section {
  width: 100%;
  background-color: #f4f4f4;
}
.perfomance-section-mainwrap .perfomance-section .container .perfomance-section-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0 94px 0;
  gap: 50px;
  width: 100%;
}
.perfomance-section-mainwrap .perfomance-section .container .perfomance-section-wrap .perfomance-section-head {
  max-width: 295px;
}
.perfomance-section-mainwrap .perfomance-section .container .perfomance-section-wrap .perfomance-section-count {
  display: flex;
  gap: 32px;
}
.perfomance-section-mainwrap .perfomance-section .container .perfomance-section-wrap .perfomance-section-count .perfomance-count {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1c1c1c;
  padding: 84px 62px;
  color: #ffffff;
  max-width: 381px;
  width: 100%;
  text-align: center;
  border-radius: 16px;
}
.perfomance-section-mainwrap .perfomance-section .container .perfomance-section-wrap .perfomance-section-count .perfomance-count .perfomance-count-number {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}
.perfomance-section-mainwrap .perfomance-section .container .perfomance-section-wrap .perfomance-section-count .perfomance-count .perfomance-count-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .perfomance-section-mainwrap .perfomance-section .perfomance-section-wrap {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 0 50px 0;
  }
  .perfomance-section-mainwrap .perfomance-section .perfomance-section-wrap .perfomance-section-head {
    max-width: 100%;
    font-size: 20px;
  }
  .perfomance-section-mainwrap .perfomance-section .perfomance-section-wrap .perfomance-section-count {
    flex-direction: row;
    gap: 20px;
  }
  .perfomance-section-mainwrap .perfomance-section .perfomance-section-wrap .perfomance-section-count .perfomance-count {
    max-width: 100%;
    padding: 50px 20px;
  }
  .perfomance-section-mainwrap .perfomance-section .perfomance-section-wrap .perfomance-section-count .perfomance-count .perfomance-count-number {
    font-size: 30px;
    line-height: 35px;
  }
  .perfomance-section-mainwrap .perfomance-section .perfomance-section-wrap .perfomance-section-count .perfomance-count .perfomance-count-name {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 768px) {
  .perfomance-section-mainwrap {
    background-color: #ffffff;
    padding: 0px 17px;
  }
  .perfomance-section-mainwrap .perfomance-section .perfomance-section-wrap {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 24px 16px;
  }
  .perfomance-section-mainwrap .perfomance-section .perfomance-section-wrap .perfomance-section-head {
    max-width: 331px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
  }
  .perfomance-section-mainwrap .perfomance-section .perfomance-section-wrap .perfomance-section-count {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .perfomance-section-mainwrap .perfomance-section .perfomance-section-wrap .perfomance-section-count .perfomance-count {
    max-width: 311px;
    width: 100%;
    padding: 50px 20px;
  }
  .perfomance-section-mainwrap .perfomance-section .perfomance-section-wrap .perfomance-section-count .perfomance-count .perfomance-count-number {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
  }
  .perfomance-section-mainwrap .perfomance-section .perfomance-section-wrap .perfomance-section-count .perfomance-count .perfomance-count-name {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}
.location-section-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0px 100px 0px;
}

.location-section-wrap-images {
  display: flex;
  gap: 35px;
  margin-top: 64px;
  width: 100%;
}

.location-img1 {
  background-image: url("../assets/png/Rectangle 2187.png");
  width: 25%;
  height: 538px;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  align-items: end;
  border-radius: 10px;
  padding: 18px 18px;
}

.img2-upper1 {
  background-image: url("../assets/png/Rectangle 2188.png");
  max-width: 377px;
  width: 100%;
  height: 251px;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  align-items: end;
  border-radius: 10px;
  padding: 18px 18px;
}

.location-img2 {
  width: 50%;
}

.location-img2-upper {
  display: flex;
  gap: 35px;
}

.location-img2-lower {
  display: flex;
  gap: 35px;
  margin-top: 35px;
}

.img2-upper2 {
  background-image: url("../assets/png/Rectangle 2190.png");
  max-width: 377px;
  width: 100%;
  height: 251px;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  align-items: end;
  border-radius: 10px;
  padding: 18px 18px;
}

.img2-lower1 {
  background-image: url("../assets/png/Rectangle 2191.png");
  max-width: 377px;
  width: 100%;
  height: 251px;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  align-items: end;
  border-radius: 10px;
  padding: 18px 18px;
}

.img2-lower2 {
  background-image: url("../assets/png/Rectangle 2193.png");
  max-width: 377px;
  width: 100%;
  height: 251px;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  align-items: end;
  border-radius: 10px;
  padding: 18px 18px;
}

.location-img3 {
  background-image: url("../assets/png/Rectangle 2192.png");
  width: 25%;
  height: 538px;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  align-items: end;
  border-radius: 10px;
  padding: 18px 18px;
}

@media (max-width: 1200px) {
  .location-section-wrap {
    margin: 70px 0;
  }
  .location-section-wrap-images {
    flex-direction: column;
    gap: 30px;
  }
  .location-img1,
  .location-img3 {
    height: 400px;
    width: 100%;
  }
  .img2-upper1,
  .img2-upper2,
  .img2-lower1,
  .img2-lower2 {
    height: 250px;
  }
  .location-img2 {
    width: 100%;
  }
  .location-img2-upper,
  .location-img2-lower {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (max-width: 1024px) {
  .location-section-wrap {
    margin: 50px 0;
  }
  .location-section-wrap-images {
    flex-direction: column;
    gap: 20px;
  }
  .location-img1,
  .location-img3 {
    max-width: 100%;
    height: 300px;
  }
  .img2-upper1,
  .img2-upper2,
  .img2-lower1,
  .img2-lower2 {
    height: 200px;
  }
  .location-img2 {
    width: 100%;
  }
  .location-img2-upper,
  .location-img2-lower {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .location-section-wrap {
    margin: 50px 0;
  }
  .location-section-wrap-images {
    flex-direction: column;
    gap: 15px;
  }
  .location-img1,
  .location-img3 {
    height: 275px;
  }
  .img2-upper1,
  .img2-upper2,
  .img2-lower1,
  .img2-lower2 {
    height: 275px;
    width: inherit;
    max-width: 100%;
  }
  .location-img2 {
    width: 100%;
  }
  .location-img2-upper,
  .location-img2-lower {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
  .location-img2-lower {
    margin-top: 15px;
  }
}
.artical-sectionwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.artical-section-info-wrap {
  display: flex;
  gap: 38px;
  margin-top: 56px;
  margin-bottom: 100px;
}

.artical-big-img {
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.artical-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

.artical-left-bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.artical-left-bottom-date {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: #e93740;
}

.artical-left-bottom-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #1c1c1c;
}

.artical-left-bottom-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #8b8b8b;
}

.artical-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 50%;
}

.artical-right-wraper {
  display: flex;
  gap: 32px;
}

.artical-right-wraper-rightsection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 1200px) {
  .artical-section-info-wrap {
    flex-direction: column;
    gap: 24px;
  }
  .artical-left,
  .artical-right {
    width: 100%;
  }
  .artical-big-img {
    min-height: 400px;
  }
  .artical-right-wraper {
    flex-direction: column;
    gap: 16px;
  }
}
@media (max-width: 991px) {
  .artical-sectionwrap {
    padding: 16px;
  }
  .artical-big-img {
    min-height: 300px;
  }
  .artical-left-bottom-date,
  .artical-left-bottom-title,
  .artical-left-bottom-subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .artical-right-wraper {
    gap: 12px;
  }
  .artical-right-wraper-leftsection img {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .artical-left {
    display: none;
  }
}
.footer-section {
  width: 100%;
  background-color: #f4f4f4;
}

.footer-section-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 82px;
  flex-wrap: wrap;
  gap: 50px;
}

.footer-section-info1 {
  display: flex;
  flex-direction: column;
  max-width: 413px;
  width: 100%;
}

.footer-section-info1-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 18px;
  margin-bottom: 36px;
}

.footer-section-wrap-social {
  display: flex;
  gap: 10.71px;
}

.social-hold {
  height: 27.71px;
  width: 27.71px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e93740;
}

.social-hold:hover {
  background-color: #1c1c1c;
}

.footer-section-info2 {
  display: flex;
  flex-direction: column;
  gap: 21px;
  max-width: 91px;
  width: 100%;
}

.footer-section-info3 {
  display: flex;
  flex-direction: column;
  gap: 21px;
  max-width: 151px;
  width: 100%;
}

.footer-section-info4 {
  display: flex;
  flex-direction: column;
  gap: 21px;
  max-width: 75px;
  width: 100%;
}

.footer-section-info5 {
  display: flex;
  flex-direction: column;
  gap: 21px;
  max-width: 275px;
  width: 100%;
}

.footer-section-info2-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: #e93740;
}

.footer-section-info2-linkwrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-section-info2-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  color: #1c1c1c;
  text-decoration: none;
}

.footer-section-info2-link:hover {
  color: #e93740;
}

.footbtn {
  color: #ffffff;
  background-color: #e93740;
  padding: 14px 36px;
  border-radius: 47px;
  width: 100%;
  border: none;
}

.footbtn:hover {
  color: #e93740;
  background-color: #ffffff;
}

.footinput {
  background-color: #f4f4f4;
  color: #1c1c1c;
  border-radius: 47px;
  border: 1px solid #cccccc;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.12px;
  padding: 16px 19px;
}

@media (max-width: 575px) {
  .footer-section-wrap {
    display: flex;
    flex-direction: column;
  }
  .footer-section-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-wrap: wrap;
    gap: 50px;
  }
  .footbtn {
    color: #ffffff;
    background-color: #e93740;
    padding: 14px 36px;
    border-radius: 47px;
    width: 100%;
    border: none;
  }
  .footbtn:hover {
    color: #e93740;
    background-color: #ffffff;
  }
  .footinput {
    width: 100% !important;
    padding: 16px 19px;
  }
}
.coppyright-section {
  background-color: #ffffff;
  color: #696888;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

@media (max-width: 575px) {
  .footer-section-info5 {
    max-width: 100%;
  }
}/*# sourceMappingURL=common.css.map */